<h1>About Us</h1>
<p>
    <a href="http://pennycloud.co/">PennyCloud.co</a>
    is a real-time money savinging app.  
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application.
</p>
