<div class="center hero-unit">
    <h1>Welcome to PennyCloud</h1>

    <h2>
      Start saving on you daily habits towards you goals
      <a href="http://pennycloud.co/">PennyCloud.co</a>
      - every penny counts.
    </h2>

    <%= link_to "Sign up now!", '#', 
                                class: "btn btn-large btn-primary" %>
</div>